#terrainlayer-tools {
    position: absolute;
    width: auto;
    text-align: center;
}

#terrainlayer-tools .control-tools {
    list-style: none;
    padding: 0;
    margin: 0;
}

#terrainlayer-tools .control-tool {
    width: 36px;
    height: 36px;
    box-sizing: content-box;
    font-size: 24px;
    line-height: 36px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px #000;
    margin: 0 0 8px;
    color: #BBB;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
}

#terrainlayer-tools .control-tool:hover {
    color: #FFF;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
}

#terrainlayer-tools table {
    margin: 0;
    border: none;
    background: none;
}

#terrainlayer-tools td {
    padding: 0;
    vertical-align: top;
}

#terrainlayer-tools td:nth-child(n+1) {
    padding-left: 8px;
}

/*
.terrain-color input[type=color]::-webkit-color-swatch {
    background-color: transparent !important;
}*/

/*
#terrain-config input[type="range"] {
    z-index: 2;
}

#terrain-config input[type="range"] + input[type="range"] {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 58px);
    -webkit-appearance: none;
    z-index: 1;
}

#terrain-config input[type="range"] + input[type="range"]::-webkit-slider-runnable-track,
#terrain-config input[type="range"] + input[type="range"]::-moz-range-track,
#terrain-config input[type="range"] + input[type="range"]::-ms-track {
    background: none;
    color:transparent;
}*/

#terrain-hud .environment-list {
    visibility: hidden;
    position: absolute;
    right: 60px;
    top: 45px;
    display: grid;
    padding: 3px;
    box-sizing: content-box;
    grid-template-columns: 130px 130px 130px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px #000;
    border: 1px solid #333;
    border-radius: 4px;
    pointer-events: all;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

#terrain-hud .environment-list.active {
    visibility: visible;
}

#terrain-hud .environment-container {
    cursor: pointer;
    position: relative;
    padding: 1px;
    border-radius: 4px;
    border: 1px solid transparent;
}

#terrain-hud .environment-control {
    display: block;
    width: 100%;
    height: 24px;
    margin: 0;
    margin-top: -1px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0;
    opacity: 0.5;
    padding-right: calc(100% - 24px);
}

#terrain-hud .environment-name {
    vertical-align: top;
    padding-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 24px);
    display: inline-block;
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 24px;
    opacity: 0.6;
    color: #ccc;
}

#terrain-hud .environment-list .environment-container.active {
    border: 1px solid #ff6400;
    opacity: 0.7;
}

#terrain-hud .environment-list .environment-container:hover .environment-control {
    opacity: 1;
}

#terrain-hud .environment-list .environment-container.active .environment-control {
    filter: sepia(100%) saturate(2000%) hue-rotate( -50deg );
}

#terrain-hud .environment-list .environment-container.active:hover {
    color: #ffc163 !important;
}

#terrain-hud .environment-list .environment-container.active .environment-name {
    color: #ff6400;
    opacity: 0.8;
}

#terrain-hud .environment-list .environment-container:hover .environment-name {
    opacity:1;
}