<ol id="terrainlayer-tools" class="control-tools flexcol">
    <li class="control-tool{{#if disabled}} disabled{{/if}}" title="{{localize "EnhancedTerrainLayer.IncreaseCost"}}">
        <button class="control-btn" id="tl-inc-cost" data-tool="inc-cost" type="button"{{#if disabled}} disabled{{/if}}>
            <i class="fas fa-chevron-up"></i>
        </button>
    </li>
    <li id="tl-defaultcost" class="control-tool" title="{{title}}">
        {{#if disabled}}<i class="fas fa-map"></i>{{/if}}
        {{{multiple}}}
    </li>
    <li class="control-tool{{#if disabled}} disabled{{/if}}" title="{{localize "EnhancedTerrainLayer.DecreaseCost"}}">
        <button class="control-btn" id="tl-dec-cost" data-tool="dec-cost" type="button"{{#if disabled}} disabled{{/if}}>
            <i class="fas fa-chevron-down"></i>
        </button>
    </li>
</ol>