<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="col left">
        <div class="control-icon" style="font-size: 18px;flex: 0 0 30px;height: 30px;line-height: 30px;">
            <span class="terrain-cost" title="{{localize "EnhancedTerrainLayer.TerrainCost"}}">&times;{{{cost}}}</span>
        </div>

        {{#if environment}}
        <div class="control-icon" style="font-size: 18px;flex: 0 0 30px;height: 30px;line-height: 30px;">
            <span class="terrain-environment" title="{{localize environment.text}}"><img style="width:26px;height:26px;margin-left:7px;" src="modules/enhanced-terrain-layer/img/environment/{{environment.icon}}" /></span>
        </div>
        {{/if}}
    </div>

    <div class="col middle">
    </div>

    <div class="col right" style="justify-content: center;">
        {{#if isGM}}
        <div class="control-icon visibility {{visibilityClass}}">
            <img src="{{icons.visibility}}" width="36" height="36" title="{{localize "HUD.ToggleVis"}}">
        </div>

        <div class="control-icon locked {{lockedClass}}">
            <img src="{{icons.lock}}" width="36" height="36" title="{{localize "HUD.ToggleLock"}}">
        </div>

        <div class="control-icon inc-multiple">
            <img src="{{icons.up}}" width="36" height="36" title="{{localize "EnhancedTerrainLayer.IncreaseCost"}}" />
        </div>

        <div class="control-icon dec-multiple">
            <img src="{{icons.down}}" width="36" height="36" title="{{localize "EnhancedTerrainLayer.DecreaseCost"}}" />
        </div>
        {{/if}}
    </div>
</form>