<div id="terrainlayer-tools">
    <form id="terrainlayer-tools-form">
        <ol class="control-tools">
            <li title="{{localize "TerrainLayerV2.IncreaseCost"}}">
                <button class="control-tool" id="tl-inc-cost" data-tool="inc-cost" value="" type="button">
                    <i class="fas fa-chevron-up"></i>
                </button>
            </li>
            <li title="{{localize "TerrainLayerV2.Cost"}}">
                <div class="control-tool" id="tl-defaultcost">{{multiple}}</div>
            </li>
            <li title="{{localize "TerrainLayerV2.DecreaseCost"}}">
                <button class="control-tool" id="tl-dec-cost" data-tool="dec-cost" value="" type="button">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </li>
        </ol>
    </form>
</div>