<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="col left" style="justify-content: center;">
        <div class="attribute control-icon" style="font-size: 18px;flex: 0 0 30px;height: 30px;line-height: 30px;">
            <i class="fas fa-mountain"></i>
            <span class="terrain-cost" title="{{localize "EnhancedTerrainLayer.TerrainCost"}}">{{{cost}}}</span>
        </div>

        <div class="control-icon environments" style="font-size: 18px;flex: 0 0 30px;height: 30px;line-height: 30px;">
            <img style="width:26px;height:26px;margin-left:7px;" src="{{environment.icon}}" title="{{localize environment.text}}" onerror="this.src = 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=';" />
            <div class="environment-list">
                {{#each environments}}
                <div class="environment-container{{#if this.active}} active{{/if}}" title="{{this.text}}" data-environment-id="{{this.id}}"><img class="environment-control " src="{{this.icon}}" onerror="this.src = 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=';"><div class="environment-name">{{this.text}}</div></div>
                {{/each}}
            </div>
        </div>

        <div class="attribute control-icon" style="font-size: 18px;flex: 0 0 30px;height: 30px;line-height: 30px;">
            <i class="fas fa-angle-up"></i>
            <div class="terrain-elevation" title="{{localize "EnhancedTerrainLayer.TerrainElevation"}}">{{this.elevation}}</div>
        </div>
        <div class="attribute control-icon" style="font-size: 18px;flex: 0 0 30px;height: 30px;line-height: 30px;">
            <i class="fas fa-arrows-alt-v"></i>
            <div class="terrain-depth" title="{{localize "EnhancedTerrainLayer.TerrainDepth"}}">{{this.depth}}</div>
        </div>
    </div>

    <div class="col middle">
    </div>

    <div class="col right" style="justify-content: center;">
        {{#if isGM}}
        <div class="control-icon {{visibilityClass}}" data-action="visibility">
            <img src="{{icons.visibility}}" width="36" height="36" title="{{localize "EnhancedTerrainLayer.visibility"}}">
        </div>

        <div class="control-icon {{lockedClass}}" data-action="locked">
            <img src="{{icons.lock}}" width="36" height="36" title="{{localize "HUD.ToggleLock"}}">
        </div>

        <div class="control-icon inc-multiple">
            <img src="{{icons.up}}" width="36" height="36" title="{{localize "EnhancedTerrainLayer.IncreaseCost"}}" />
        </div>

        <div class="control-icon dec-multiple">
            <img src="{{icons.down}}" width="36" height="36" title="{{localize "EnhancedTerrainLayer.DecreaseCost"}}" />
        </div>
        {{/if}}
    </div>
</form>