{{#if full}}
<div class="form-group">
    <label>{{localize "EnhancedTerrainLayer.opacity.name"}}</label>
    <div class="form-fields">
        <input type="range" dtype="Number" min="0" max="1.0" step="0.1" name="flags.enhanced-terrain-layer.opacity" value="{{data.opacity}}">
        <span class="range-value" style="flex: 0 1 48px;">{{data.opacity}}</span>
    </div>
    <p class="notes">Set the opacity for all terrain on this scene</p>
</div>
<hr />
<p class="notes">Set the default settings when terrain is created on this scene</p>
{{/if}}
<div class="form-group">
    <label for="multiple">{{localize "EnhancedTerrainLayer.Cost"}}</label>
    <input type="number" name="flags.enhanced-terrain-layer.multiple" step="any" value="{{data.multiple}}" style="flex: 0 0 80px; text-align: right;">
</div>
<div class="form-group">
    <label for="elevation">{{localize "EnhancedTerrainLayer.TerrainElevation"}}</label>
    <input type="number" name="flags.enhanced-terrain-layer.elevation" step="any" value="{{data.elevation}}" style="flex: 0 0 80px; text-align: right;">
</div>
<div class="form-group">
    <label for="depth">{{localize "EnhancedTerrainLayer.TerrainDepth"}}</label>
    <input type="number" name="flags.enhanced-terrain-layer.depth" step="any" value="{{data.depth}}" style="flex: 0 0 80px; text-align: right;">
</div>
<div class="form-group">
    <label for="environment">{{localize "EnhancedTerrainLayer.Environment"}}</label>
    <div class="form-fields">
        <select name="flags.enhanced-terrain-layer.environment" data-dtype="String">
            <option value=""></option>
            <optgroup label="{{localize "EnhancedTerrainLayer.Environment"}}" data-type="environment">
                {{ selectOptions environments selected=data.environment }}
            </optgroup>
            <optgroup label="{{localize "EnhancedTerrainLayer.Obstacle"}}" data-type="obstacle">
                {{ selectOptions obstacles selected=data.environment }}
            </optgroup>
        </select>
    </div>
</div>
{{#if useObstacles}}
<div class="form-group">
    <label for="obstacle">{{localize "EnhancedTerrainLayer.Obstacle"}}</label>
    <div class="form-fields">
        <select name="flags.enhanced-terrain-layer.obstacle" data-dtype="String">
            {{ selectOptions obstacles selected=data.obstacle blank=' ' nameValue="name" nameValue="name" }}
        </select>
    </div>
</div>
{{/if}}
{{#if full}}
<div class="form-group">
    <label for="flags.enhanced-terrain-layer.drawcolor">{{localize "EnhancedTerrainLayer.TerrainColor"}}</label>
    <div class="form-fields">
        {{ colorPicker name="drawcolor" value=data.drawcolor}}
    </div>
</div>
{{/if}}
